name: Test
permissions:
  checks: write
  contents: write
  pull-requests: write
  statuses: write
"on":
  pull_request:
    branches:
      - main
    paths:
      - '**'
  workflow_dispatch:
    inputs:
      target:
        description: Provided SDK target to run tests for, (all) is valid
        type: string
jobs:
  test:
    uses: speakeasy-api/sdk-generation-action/.github/workflows/sdk-test.yaml@aff0e9167c46e30b08e9622cc6188f6488ed6117
    with:
      target: ${{ github.event.inputs.target || 'cribl-control-plane' }}
    secrets:
      github_access_token: ${{ secrets.GITHUB_TOKEN }}
      speakeasy_api_key: ${{ secrets.SPEAKEASY_API_KEY }}
